<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>todo-app</title>
    <link rel="stylesheet" th:href="@{/root.css}">
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
        <div th:fragment="progress" class="progress">
            <div class="card published">
                <div class="card-title">
                    published
                </div>
                <div class="card-content">
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Finish todo app.Finish todo app.Finish todo app.Finish todo app.Finish todo app.
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                    <div class="card-content-item">
                        <div class="card-content-item-title">
                            Check Offer Status. 检查offer 状态
                            <span class="content-button">view</span>
                            <span class="content-button">start</span>
                        </div>
                        <div class="card-content-item-meta">
                            <span class="card-content-item-meta-item p-highest">Highest</span>
                            <span class="card-content-item-meta-item tag-alert">Start: 2026-06-30</span>
                            <span class="card-content-item-meta-item tag-warn">Due: 2026-06-30</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card progressing">
                <div class="card-title">
                    progressing
                </div>
                <div class="card-content">

                </div>
            </div>
            <div class="card done">
                <div class="card-title">
                    done
                </div>
                <div class="card-content">

                </div>
            </div>
        </div>

</body>
</html>
